<div class="contain w-full flex flex-col gap-36 p-12 text-black bg-white">
  <div
    class="component h-full w-full flex flex-row justify-center items-center gap-[20px] [@media(max-width:768px)]:flex-col"
  >
    <img
      src="https://www.luxeglobalawards.com/images/386fec067cf2371477ea-atyantiklogo.png"
      alt=""
      class="flex-[1] h-[30%] w-[30%] bg-cover bg-center [box-shadow:5px_5px_20px_rgba(128,_128,_128,_0.267)] [@media(max-width:768px)]:w-full [@media(max-width:768px)]:h-full"
    />
    <div
      class="description-column w-4/5 p-[20px] rounded-[8px] flex [@media(max-width:768px)]:w-full"
    >
      <div class="desc flex flex-col w-full [@media(max-width:768px)]:w-full">
        <span class="place-name text-2xl uppercase text-[#000000e0]"
          >Atyantik Technologies</span
        >
        <p class="text-[13px] text-[#000000] mt-4 mx-[0] mb-[10px]">
          Atyantik is a team of techno enthusiasts with over a decade of
          experience delivering IT solutions for clients across diverse
          industries. At Atyantik, we believe in providing our customers a
          value-driven, highly professional experience and delivering much more
          technically advanced, time-efficient, and cost-effective solutions. <a
            href=""
            class="underline text-black hover:underline">www.atyantik.com</a
          >
        </p>
      </div>
    </div>
  </div>

  <div
    class="component reverse h-full w-full flex flex-row-reverse justify-center items-center gap-[20px] [@media(max-width:768px)]:flex-col"
  >
    <img
      src="https://www.luxeglobalawards.com/images/e0ea75095648d45c2888-partners.png"
      alt=""
      class="flex-[1] h-[30%] w-[30%] bg-cover bg-center [box-shadow:5px_5px_20px_rgba(128,_128,_128,_0.267)] [@media(max-width:768px)]:w-full [@media(max-width:768px)]:h-full"
    />
    <div
      class="description-column w-4/5 rounded-[8px] flex [@media(max-width:768px)]:w-full"
    >
      <div class="desc flex flex-col w-full [@media(max-width:768px)]:w-full">
        <span class="place-name text-2xl uppercase text-[#000000e0]"
          >Red Earth
        </span>
        <p class="text-[13px] text-[#000000] mt-4 mx-[0] mb-[10px]">
          Founded on old school values of traditional handcrafted quality, owner
          and artist Eric Tollner combines his skills and experience as a
          designing and manufacturing jeweller, with a passion to create more
          sculptural work, to bring you the Red Earth range of trophies, awards
          and sculptures. <a
            href=""
            class="underline text-black hover:underline">www.redearth.co.za</a>
        </p>
      </div>
    </div>
  </div>
</div>
