<div class="flex items-center justify-center w-full lg:h-[90vh] lg:mt-20 bg-black text-white  h-[70vh]">
    <div class="flex flex-col items-center w-[80%]  text-center">
        <p></p>
        <div class="text-about text-6xl  sm:text-7xl lg:text-8xl font-normal font-sans tracking-wide uppercase border-b border-b-white p-5">
            Our Partners
        </div>
        <p class="text-luxe text-3xl sm:w-2/3 lg:w-full sm:text-3xl lg:text-4xl font-thin p-5 uppercase">
            Businesses are better together
        </p>
        
    </div>
</div>
