<div
  class="full-screen-component h-auto sm:h-[60vh] w-full bg-white flex items-center justify-center text-black"
>
  <div
    class="text text-[0.9rem] flex flex-col items-center w-[40%] sm:m-0 my-10 text-center"
  >
    <div class="headings text-4xl mb-4 uppercase text-black">
      <p class="heading1">Why Us?</p>
    </div>
    <p class="para leading-6 text-sm text-black">
      We strive to be the forefront of Luxury Travel to create value and connect
      destinations to travelers. <br>Our aim is to make luxury travel more
      accessible, through the use of our digital footprint we have crafted a
      model that filters potential travelers from our digital platforms directly
      to our clients' destinations. <br> As we grow, we are on the search for
      partners that share our mission.
    </p>
  </div>
</div>
