<section class="container flex flex-col items-center justify-center h-auto p-[20px] box-border bg-[black] text-[white] px-8 py-20">
    <div class="video-container mb-[20px]">
        <video autoplay muted playsinline loop class="w-full max-h-[25rem]">
            <source src="https://www.luxeglobalawards.com/assets/063d7a9c8251d084f7ad-lady_lux.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
    </div>
    
    <div class="headings  text-4xl mb-8 uppercase text-[white] text-center">
        <p class="heading1">About</p>
      <p class="heading2 font-['Times_New_Roman',_Times,_serif]">Lady Luxe</p>
      </div>
    <div class="text-columns flex justify-between gap-10 w-4/5 max-w-[1200px] [@media(max-width:767px)]:flex-col [@media(max-width:767px)]:items-center [@media(max-width:767px)]:gap-[10px]">
        <div class="column w-1/2 leading-[1.4rem] text-[0.85rem] text-[#ffffff99] [@media(max-width:767px)]:w-full">
            The most exclusive award in the world requires the most exclusive trophy in the world. Our trophy, the 'Lady Luxe', was designed and hand crafted over many months by world renowned jeweler and artist, Eric Tollner. All Lady Luxe trophies will continue to be hand made with the greatest attention to detail. A word from the Lady Luxe creator:
            <br>
            <br>
            "When I was first asked to consider creating the Lady Luxe Trophy, my immediate reaction was excitement. In many ways, this was the culmination of 30 years of hard work, passion, and never-ending curiosity in the pursuit of creating perfection. It combined skills as a goldsmith, craftsman, artist, and sculptor, with an interest in the human form and portraying it in pure, simple, flowing, elegant lines. I was presented with the concept design of the front view, and after many hours of thoughts and ideas passing between the studio and the workbench and discussions around the boardroom table, we gradually brought Lady LUXE to life through many hours of passionate creating and carving, all done by hand.
            <br>
            <br>
            The first step in creating the original trophy was to break down the design into stages. The bottom half of the figurine is perfectly symmetrical, and I created this in solid brass, spinning on a lathe and carving gently into it over hours to arrive at the curve we needed.
        </div>
        <div class="column w-1/2 leading-[1.4rem] text-[0.85rem] text-[#ffffff99] [@media(max-width:767px)]:w-full">
            Once the lower half was complete, it was mounted upright onto a temporary base, and I began working the upper torso and arms. This was the most intricate and delicate part of the process for a number of reasons. It involved creating organic shapes, that needed to be created by hand, and be perfectly symmetrical. A torso was created in wood, and then clad in clay, which was gently carved and formed into shape, until it resembled the design on paper.
            <br><br>
            Once the original figurine was complete in clay, a mold was created and a plastic model cast in order to work the very fine details into the surface, something which was not possible to achieve in the clay.
            <br> <br>
            The next stage in the process was the most exciting, seeing this plastic model transformed at the foundry into a bronze casting, through the traditional lost wax casting process, a timeless and age-old craft of casting molten metal into a mold. The bronze is melted in a furnace at around 1200C, and then poured as a liquid, into the mold, creating the final bronze sculpture.
            <br><br>
            From there, the bronze figurine is worked to a fine polished finish, and the crystal glass diamond mounted and set into the hands.
        </div>
    </div>
</section>