<div class="full-screen-component h-auto sm:h-[80vh] w-full bg-[black] flex items-center justify-center text-[white]">
    <div class="text text-[0.9rem] flex flex-col items-center w-[65%] sm:m-0 my-20 text-center">
        <div class="headings text-4xl mb-8 uppercase text-[white]">
            <p class="heading1">Our</p>
          <p class="heading2 font-['Times_New_Roman',_Times,_serif] ">Mission</p>
          </div>
          <p class="para leading-6 text-sm text-[#ffffff99]">
            LUXE Global is committed to recognizing and honoring excellence in the hospitality industry by providing hotels, spas, restaurants and travel providers with the necessary tools to enhance their strategies and prepare for the discerning luxury traveler. Our ultimate goal is to elevate the industry as a whole and set new standards for exceptional hospitality. With our prestigious awards, we aim to highlight those establishments that go above and beyond to provide an unforgettable experience to their guests. Join us in our mission to push the boundaries of luxury and inspire the world to strive for excellence.
          </p>
    </div>
</div>