<section class="container p-[20px] px-14 my-20">
    <div class="headings text-4xl mb-10 uppercase text-[rgb(0,_0,_0)] [@media(max-width:767px)]:text-center">
      <p class="heading1">Our</p>
      <p class="heading2 font-['Times_New_Roman',_Times,_serif]">Vision</p>
    </div>
    <div class="content flex justify-between items-start text-[0.9rem] [@media(max-width:767px)]:flex-col [@media(max-width:767px)]:items-center [@media(max-width:767px)]:text-center">
      <div class="column para-column w-[35%] [@media(max-width:767px)]:w-full [@media(max-width:767px)]:mb-[20px]">
        <p class="m-0 leading-6">
          Luxury is in the detail, the finer aspects that are often missed, at
          Luxe Global we envisage a world where the detail becomes the distinct
          highlights of our beloved hospitality industry. Our team has the passion
          to empower our industry to ensure each patron around the globe receives
          the absolute best of the best in all categories.
        </p>
      </div>
      <div class="column list-column w-[35%] pl-8 [@media(max-width:767px)]:w-full [@media(max-width:767px)]:mb-[20px]">
        <p class="ul-heading text-[gray] mb-4">Why LUXE Global?</p>
  
        <ul class="p-0 ml-4">
          <li class="mb-[10px] lg:list-disc [@media(max-width:767px)]:list-none">Prestige and recognition on a global level</li>
          <li class="mb-[10px] lg:list-disc [@media(max-width:767px)]:list-none">Promotion on a global platform</li>
          <li class="mb-[10px] lg:list-disc [@media(max-width:767px)]:list-none">Increase customer growth & loyalty</li>
          <li class="mb-[10px] lg:list-disc [@media(max-width:767px)]:list-none">Build credibility</li>
          <li class="mb-[10px] lg:list-disc [@media(max-width:767px)]:list-none">Staff Recognition</li>
        </ul>
      </div>
      <div class="column image-column pl-8 flex flex-col items-center [@media(max-width:767px)]:w-full [@media(max-width:767px)]:mb-[20px]">
        <img
          src="https://www.luxeglobalawards.com/cdn-cgi/image/width=1440,fit=contain,quality=85,format=auto/images/1e2fac0971f6ab693f49-our_vision.jpg"
          alt="Sample Image"
          width="200"
          height="300"
        />
        <div class="credit w-4/5 text-center uppercase text-[gray] text-[14px] m-[0.3rem]">
          CREDIT: THE DYLAN AMSTERDAM
        </div>
      </div>
    </div>