<section class="px-14 my-24 p-[20px] box-border">
    <h1 class="heading text-[2.5rem] mb-16 uppercase text-[rgb(0,_0,_0)] font-light [@media(max-width:767px)]:text-center">Voting</h1>
    <div class="content flex justify-between items-start gap-[20px] [@media(max-width:767px)]:flex-col [@media(max-width:767px)]:items-center">
        <div class="text-column w-[55%] text-left [@media(max-width:767px)]:w-full">
            <div class="item flex mb-[20px] [@media(max-width:767px)]:block">
                <div class="name w-[30%] text-[12px] text-[#00000080]">AWARD</div>
                <div class="desc w-3/5 mt-[5px] leading-[1.4rem] text-[0.85rem] [@media(max-width:767px)]:w-full">The importance of awards in the hotel and hospitality industry cannot be underestimated. A LUXE Global award represents an independent and public recognition of a hotel, spa or restaurant’s efforts to supply consistent and high-quality service across the board.</div>
            </div>
            <div class="item flex mb-[20px] [@media(max-width:767px)]:block">
                <div class="name w-[30%] text-[12px] text-[#00000080]">VOTING PACK</div>
                <div class="desc w-3/5 mt-[5px] leading-[1.4rem] text-[0.85rem] [@media(max-width:767px)]:w-full">A LUXE Global Voting Kit will be given to each participant before voting begins with branded marketing and campaign materials along with detailed guidelines.</div>
            </div>
            <div class="item flex mb-[20px] [@media(max-width:767px)]:block">
                <div class="name w-[30%] text-[12px] text-[#00000080]">RULES</div>
                <div class="desc w-3/5 mt-[5px] leading-[1.4rem] text-[0.85rem] [@media(max-width:767px)]:w-full">Each LUXE Global participant may choose 4 categories to compete in that best suit their hotel, spa or restaurant’s unique characteristics, selling points or highlight a staff member. Each participant will compete on a national, regional, continent and global level against other participants in the same categories as them. Votes are cast online each year for a period of 3 weeks. All wins are based on number of votes received.</div>
            </div>
            <div class="item flex mb-[20px] [@media(max-width:767px)]:block">
                <div class="name w-[30%] text-[12px] text-[#00000080]">RESULTS</div>
                <div class="desc w-3/5 mt-[5px] leading-[1.4rem] text-[0.85rem] [@media(max-width:767px)]:w-full">Each year the LUXE Global Team will announce an overall winner per Hotel, Spa and Restaurant Division. The overall winner will be a Global or Continent winner in their respective categories and are chosen by the official LUXE Global panel. This prestigious title is based on a number of elements including votes received during the annual voting period, overall guest satisfaction from online reviews with regards to service, interior design, ambience, location, to name a few of the criteria. Criteria will differ slightly between hotel, spa and restaurant. The Overall winner must exhibit exceptional qualities and overall excellence.</div>
            </div>
            <div class="item flex mb-[20px] [@media(max-width:767px)]:block">
                <div class="name w-[30%] text-[12px] text-[#00000080]">EVENT DETAILS</div>
                <div class="desc w-3/5 mt-[5px] leading-[1.4rem] text-[0.85rem] [@media(max-width:767px)]:w-full">Contact your LUXE Advisor for 2024 details.</div>
            </div>
        </div>
        <div class="image-column w-2/5 [@media(max-width:767px)]:w-full">
            <img src="https://www.luxeglobalawards.com/cdn-cgi/image/width=1440,fit=contain,quality=85,format=auto/images/a5d07f3432dd7e8eac13-voting.jpg" alt="Sample Image" class="w-full h-auto object-cover [@media(max-width:767px)]:max-w-full">
        </div>
    </div>
</section>