<div class="flex gap-5 p-9 [@media(max-width:768px)]:flex-col">
  <!-- Contact Details Column -->
  <div class="p-8 bg-white rounded-lg [@media(max-width:768px)]:text-center" >
      <div class="text-4xl mb-8 uppercase text-black">
          <p class="text-4xl">Inquiries?</p>
          <p class="text-4xl font-serif">Contact Us</p>
      </div>
      <p class="text-sm text-gray-600 mb-12">
          PLEASE SEND US A MESSAGE AND WE’LL BE IN TOUCH WITH YOU AS SOON AS POSSIBLE. THANK YOU.
      </p>
      <div>
          <p class="text-xs text-gray-500 uppercase mb-4">Address:</p>
          <div class="text-sm mb-4">
              <span class="block">Cape Town,</span>
              <span class="block">South Africa</span>
          </div>
          <p class="text-xs text-gray-500 uppercase mb-2">Telephone</p>
          <div class="text-sm mb-4">+27 21 201 6445</div>
          <p class="text-xs text-gray-500 uppercase mb-2">Email</p>
          <div class="text-sm">info@luxeglobalawards.com</div>
      </div>
  </div>
  
  <!-- Inquiry Form Column -->
  <div class="w-3/4 p-5 [@media(max-width:768px)]:w-full">
      <form class="flex flex-col gap-4">
          <div class="flex flex-col">
              <label for="name" class="text-xs text-gray-400 uppercase mb-2">Your name & Surname*</label>
              <input type="text" id="name" class="border-b border-black bg-transparent py-2 px-2 text-lg mb-5 focus:outline-none">
          </div>
          <div class="flex flex-col">
              <label for="email" class="text-xs text-gray-400 uppercase mb-2">Email Address*</label>
              <input type="email" id="email" class="border-b border-black bg-transparent py-2 px-2 text-lg mb-5 focus:outline-none">
          </div>
          <div class="flex flex-col">
              <label for="contact" class="text-xs text-gray-400 uppercase mb-2">Contact Number*</label>
              <input type="tel" id="contact" class="border-b border-black bg-transparent py-2 px-2 text-lg mb-5 focus:outline-none">
          </div>
          <div class="flex flex-col">
              <label for="inquiry" class="text-xs text-gray-400 uppercase mb-2">Inquiry*</label>
              <textarea id="inquiry" class="border-b border-black bg-transparent py-2 px-2 text-lg h-24 focus:outline-none"></textarea>
          </div>
          <div class="flex items-center gap-2 mb-4">
              <input type="checkbox" id="terms" class="mr-2">
              <label for="terms" class="text-xs text-gray-400">
                  I accept the <a href="/" class="underline">Terms and Conditions</a> and <a href="/" class="underline">Privacy Policy</a>
              </label>
          </div>
          <button type="submit" class="bg-black text-white border  border-black py-2 px-4 text-sm cursor-pointer rounded-full w-full uppercase hover:bg-white hover:text-black">
              Send Inquiry
          </button>
      </form>
  </div>
</div>
<hr>


