<div class="flex items-center justify-center w-full lg:h-[70vh] bg-black text-white h-[50vh] lg:mt-11 ">
    <div class="flex flex-col items-center w-[80%]  text-center">
        <p></p>
        <div class="text-contact text-6xl  sm:text-7xl lg:text-8xl font-normal font-sans tracking-wide">
            Contact
        </div>
        <div class="text-details text-6xl  sm:text-7xl lg:text-8xl font-thin">
            Details
        </div>
        
    </div>
</div>
