---
import Layout from "../Layout/Layout.astro"
import SignUp from "../LuxeComponents/SignUp.astro"
import FeaturedHotSpots from "../LuxeComponents/FeaturedHotSpots.astro"
import Video1 from "../LuxeComponents/Video1.astro"
import Video2 from "../LuxeComponents/Video2.astro"
import ListOfLuxury from "../LuxeComponents/ListOfLuxury.astro"
import ExclusiveAward from "../LuxeComponents/ExclusiveAward.astro"
import FeaturedCard from '../LuxeComponents/FeaturedCard.astro'
import FoundGem from "../LuxeComponents/FoundGem.astro"
import Swiper from "../SwiperComponent/Swiper.astro"
import LatestBlogs from "../SwiperComponent/LatestBlogs.astro"
import MagazineSwiper from "../SwiperComponent/MagazineSwiper.astro"
import AnimationHotspot from "../LuxeComponents/AnimationHotspot.astro"


---

<Layout>
	<main>
	<Video1 url="https://cdn.luxeglobalawards.com/local/9kpvpnM32tYA5P44FMdYoefJnVZUUuzk-Landing%20page%205%20-%20high%20res.mp4" btn={true}/>
	<!-- <FeaturedHotSpots/>
	<FeaturedCard/> -->
	<AnimationHotspot/>
	<Video2 url="https://cdn.luxeglobalawards.com/downloadables/3678bf35352caf11f7c66ff82675f49128c7f136%20-LUXEClarity.mp4" />
	<ListOfLuxury/>
	<ExclusiveAward />
	<FoundGem/>
	<LatestBlogs />
	<MagazineSwiper />
	<SignUp/>
</main>
</Layout>
		
	