---
import Header from "../RegistrationForm/Header.astro";
import Form from '../RegistrationForm/Form.astro'
import Product from '../RegistrationForm/Product.astro'
import Cart from '../RegistrationForm/Cart.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon" />

    <title>Luxe Global</title>
  </head>

  <body>
    <Header />
    <Form />
    <Product/>
    <Cart />
  </body>
</html>
