<div class="headings text-4xl mb-10 uppercase text-[rgb(0,_0,_0)] [@media(max-width:767px)]:text-center">
    <p class="heading1">Basic</p>
    <p class="heading2 font-['Times_New_Roman',_Times,_serif]">Info</p>
  </div>

<div class="contain flex flex-col gap-36 py-12   bg-[#ffffff] w-full">
  <div
    class="component h-full w-full flex flex-row justify-center  gap-16 [@media(max-width:768px)]:flex-col"
  >
    <div
      class="description-column w-[40%]  rounded-[8px] flex  [@media(max-width:768px)]:w-full"
    >
      <div
        class="desc  flex flex-col w-4/5 [@media(max-width:768px)]:w-full"
      >
        <p class="text-[13px] text-[#575757] mt-4 mx-[0] mb-[10px]">
          Nestled amidst the tranquil Nandi Hills, JW Marriott Bengaluru
          Prestige Golfshire Resort & Spa offers 301 luxurious accommodations,
          including rooms, suites, and villas, all exquisitely designed to evoke
          tranquility and relaxation. The resort also boasts over 100,000 sq.
          ft. of event spaces, comprising open-air venues, a state-of-the-art
          convention center, smaller meeting rooms, and a massive lawn
          overlooking the hills, making it ideal for exclusive gatherings,
          conventions, gala events, and intimate weddings. Guests are spoiled
          for choice with the resort's diverse culinary offerings. The Aviary
          delights with global cuisine and lavish buffets, while Aaleeshan
          offers authentic Awadhi cuisine in an elegant ambiance. East
          tantalizes taste buds with a fusion of Cantonese, Japanese, and Korean
          delicacies. Truffle & Co provides pastries, healthy bites, freshly
          brewed coffees and fine Italian wines, and the Flamingo Pool Bar
          offers majestic sunset views. Vista transitions seamlessly from a
          daytime coffee shop to a classy lounge bar at night.
        </p>
      </div>
    </div>
   <div class="image h-[80vh] w-[40%] ">
    <img
    src="https://cdn.luxeglobalawards.com/cdn-cgi/image/width=960,fit=contain,quality=85,format=auto/production/vrxkKlY8aBacnPEYcbxl9WvniP72K8yU-jw_bengaluru_golfshire_iris_and_light-2.jpg"
    alt="Basic Info"
    class=" [@media(max-width:768px)]:w-full [@media(max-width:768px)]:h-full object-cover h-full"
  />
   </div>
  </div>
</div>


