---
import blogdata from "../SwiperComponent/blogdata.json";
---

    <section>
        <div class="contain mt-16 pt-24 flex flex-col items-center">
 
            <div class="type uppercase text-xl text-[#575757]">Resort</div>
            <div class="property-name text-5xl w-[60%] text-center">JW MARRIOTT BENGALURU PRESTIGE GOLFSHIRE RESORT & SPA</div>
            <div class="country uppercase m-3 text-sm">India</div>
            <div class="rating flex justify-center items-center gap-2">
                <div class="rating-img w-32 flex items-center pt-2">
                    <img src="https://www.luxeglobalawards.com/images/4f205f951fad30af364a-1.png" alt="Example Image" class="image w-full"/>
                </div>
                <div class="subtitle text-sm">5.0</div>
            </div>
        
          </div>
        
        
        
            <div class="swiper mySwiper mt-14">
              <div class="swiper-wrapper">
                {
                  blogdata.map((data) => (
                    <div class="swiper-slide">
                      <img src={data.imgSrc} alt="" />
                    </div>
                  ))
                }
              </div>
              <div
                class="swiper-button-prev absolute top-1/2 transform -translate-y-1/2 left-5 w-[21px] h-[21px] bg-center bg-no-repeat bg-cover cursor-pointer"
              >
              </div>
              <div
                class="swiper-button-next absolute top-1/2 transform -translate-y-1/2 right-5 w-[21px] h-[21px] bg-center bg-no-repeat bg-cover cursor-pointer"
              >
              </div>
              <div class="swiper-pagination"></div>
            </div>
        
    </section>
    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script type="module">
      import Swiper from "https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.esm.browser.min.js";
      var swiper = new Swiper(".mySwiper", {
        pagination: {
          el: ".swiper-pagination",
          type: "fraction",
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>
  </body>
</html>

<style>
  .swiper {
    width: 100%;
    height: 90vh;
    position: relative;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-button-prev {
    margin-left: 50px;
    left: 20px; /* Position to the left */
  }

  .swiper-button-next {
    margin-right: 50px;
    right: 10px; /* Position to the right */
  }

  .swiper-button-disabled {
    opacity: 0.2;
    cursor: not-allowed;
  }

  .swiper-button-prev::before,
  .swiper-button-next::before {
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    display: none;
  }

  .swiper-button-prev {
    left: auto;
    margin-right: 90px;
    background-image: url("https://www.luxeglobalawards.com/images/2110a942b719fcdbfcce-slider-arrow-left.svg");
    width: 30px;
  }
  .swiper-button-next {
    background-image: url("https://www.luxeglobalawards.com/images/52bb210ac6f6e3833545-slider-arrow-right.svg");
    width: 30px;
  }

  .swiper-button-disabled {
    opacity: 0.2;
  }

  
</style>
