---
const {title, className} = Astro.props
---


    <button  class={`${className} text-[#625232] bg-white border border-[#625232] rounded-full py-2 px-4 uppercase transition-opacity duration-300 hover:opacity-100 hover:bg-[#625232] hover:text-white hover:cursor-pointer text-sm `}>
        {title}
    </button>

