---
const {title} = Astro.props
---


    <button class="text-[#978544] bg-white border border-[#978544] rounded-full py-2 px-4 uppercase transition-opacity duration-300 hover:opacity-100 hover:bg-[#978544] hover:text-white hover:cursor-pointer text-sm ">
        {title}
    </button>

