<div
  class="container text-center w-full h-screen flex items-center justify-center px-[0] py-36 box-border [@media(max-width:768px)]:px-[0] [@media(max-width:768px)]:py-12 [@media(max-width:768px)]: [@media(max-width:480px)]:px-[0] [@media(max-width:480px)]:py-8 [@media(max-width:480px)]:"
>
  <div
    class="content flex justify-center items-center flex-col w-4/5 max-w-[900px] [@media(max-width:768px)]:w-[90%] [@media(max-width:768px)]:"
  >
    <div
      class="most text-8xl  m-0 font-[sans-serif] [@media(max-width:1200px)]:text-[4rem] [@media(max-width:1200px)]: [@media(max-width:768px)]:text-[3rem] [@media(max-width:768px)]: [@media(max-width:480px)]:text-[2.5rem] [@media(max-width:480px)]:"
    >
      <p class="mb-5">THE MOST</p>
      <p class="mb-5">EXCLUSIVE</p>
    </div>
    <div
      class="award text-7xl font-hairline [@media(max-width:1200px)]:text-[3rem] [@media(max-width:1200px)]: [@media(max-width:768px)]:text-[2.5rem] [@media(max-width:768px)]: [@media(max-width:480px)]:text-[2rem] [@media(max-width:480px)]:"
    >
      <div>AWARD IN</div>
      <div>THE WORLD</div>
    </div>
    <div
      class="paragraph mt-12 pl-36 pr-36 py-[0] [@media(max-width:768px)]:px-4 [@media(max-width:768px)]:py-[0] [@media(max-width:768px)]: [@media(max-width:480px)]:px-2 [@media(max-width:480px)]:py-[0] [@media(max-width:480px)]:"
    >
      <p
        class="text-[0.9rem] leading-normal [@media(max-width:768px)]:text-[0.875rem] [@media(max-width:768px)]: [@media(max-width:480px)]:text-[0.75rem] [@media(max-width:480px)]:"
      >
        Luxe Global sets out to drive purpose into luxury, through a
        standardized and transparent voting system our aim is to show the world
        true luxury.
      </p>
    </div>
    <a
      href="#"
      class="text-[black] underline text-[1rem] my-5 [@media(max-width:768px)]:text-[0.875rem] [@media(max-width:768px)]: [@media(max-width:480px)]:text-[0.75rem] [@media(max-width:480px)]:"
      >Read More</a
    >
  </div>
</div>

