---
import img2 from '../../public/images/2.jpg'
import img3 from '../../public/images/3.jpg'
import img4 from '../../public/images/4.jpg'
---

<div class="flex flex-col items-center gap-12">
    <div class="overflow-hidden text-left p-4">
        <div class="text-xs text-black mb-2">HOTEL/</div>
        <div class="text-xs text-black mb-2">GREECE</div>
        <img src={img2.src} alt="Hotel Image 1" class="w-full h-auto mb-2 object-cover aspect-square max-w-md"  >
        <div class="text-lg mb-8">AQUILA ELOUNDA VILLAGE</div>
        <a href="#" class="text-sm text-black underline">Read More</a>
    </div>
    <div class="overflow-hidden text-left p-4">
        <div class="text-xs text-black mb-2">SPA/</div>
        <div class="text-xs text-black mb-2">THAILAND</div>
        <img src={img3.src} alt="Hotel Image 2" class="w-full h-auto mb-2 object-cover aspect-square max-w-md">
        <div class="text-lg mb-8">QUAN SPA AT CHAING MAI <br/> MARRIOTT HOTEL</div>
        <a href="#" class="text-sm text-black underline">Read More</a>
    </div>
    <div class="overflow-hidden text-left p-4">
        <div class="text-xs text-black mb-2">RESTAURANT/</div>
        <div class="text-xs text-black mb-2">TURKEY</div>
        <img src={img4.src} alt="Hotel Image 3" class="w-full h-auto mb-2 object-cover aspect-square max-w-md">
        <div class="text-lg mb-8">AQUAMARINE RESTAURANT</div>
        <a href="#" class="text-sm text-black underline">Read More</a>
    </div>
</div>
