<footer class="footer py-8">
  <div class="footer-container container mx-auto flex justify-between px-4 [@media(max-width:768px)]:flex-col [@media(max-width:768px)]:items-center">
    <!-- Logo and Social Links Column -->
    <div class="footer-column logo-column flex-1 flex flex-col px-5 ">
      <img src="https://www.luxeglobalawards.com/images/371a297a15fb1e72fb59-logo.svg" alt="Logo" class="max-w-[150px] mb-4" width="71" height="66">
      <div class="flex gap-2 my-5">
        <a href="#" class="text-sm"><img src="https://www.luxeglobalawards.com/images/f1e8014a11dcbd2e13af-facebook.svg" height="16" width="16"></a>
        <a href="#" class="text-sm"><img src="https://www.luxeglobalawards.com/images/b1dff283622b04e751b6-instagram.svg" height="16" width="16"></a>
        <a href="#" class="text-sm"><img src="https://www.luxeglobalawards.com/images/1fb0a96f9bf5a45c5173-linkedin.svg" height="16" width="16"></a>
      </div>
    </div>

    <!-- Links Columns Container -->
    <div class="footer-links-container flex flex-wrap gap-4 w-3/4 [@media(max-width:768px)]:flex-col [@media(max-width:768px)]:items-center">
      <!-- Column for Four Links -->
      <div class="footer-column flex-1 min-w-[150px] [@media(max-width:768px)]:mx-[0] [@media(max-width:768px)]:my-[0rem] [@media(max-width:768px)]:text-center">
        <ul class="space-y-2">
          <li><a href="#" class="text-gray-800 text-xs uppercase">Industry Insights</a></li>
          <li><a href="#" class="text-gray-800 text-xs uppercase">Browse</a></li>
          <li><a href="#" class="text-gray-800 text-xs uppercase">Press</a></li>
          <li><a href="#" class="text-gray-800 text-xs uppercase">Shop</a></li>
        </ul>
      </div>

      <!-- Column for Three Links -->
      <div class="footer-column flex-1 min-w-[150px] [@media(max-width:768px)]:mx-[0] [@media(max-width:768px)]:my-[0rem] [@media(max-width:768px)]:text-center">
        <ul class="space-y-1">
          <li><a href="#" class="text-gray-800 text-xs uppercase">About the awards</a></li>
          <li><a href="#" class="text-gray-800 text-xs uppercase">Contact</a></li>
          <li><a href="#" class="text-gray-800 text-xs uppercase">Partners</a></li>
        </ul>
      </div>

      <!-- Column for Two Links -->
      <div class="footer-column flex-1 min-w-[150px] [@media(max-width:768px)]:mx-[0] [@media(max-width:768px)]:my-[0rem] [@media(max-width:768px)]:text-center">
        <ul class="space-y-4">
          <li class="text-gray-800 text-xs uppercase">Capetown <br> South Africa</li>
          <li><a href="mailto:info@luxeglobalawards.com" class="text-gray-800 text-xs uppercase">info@luxeglobalawards.com</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="copy-right mt-24 [@media(max-width:768px)]:mt-5">
    <ul class="flex justify-end items-center gap-8 pr-24 [@media(max-width:600px)]:flex-col [@media(max-width:600px)]:gap-0 [@media(max-width:768px)]:pr-0 [@media(max-width:768px)]:justify-center">
      <p class="text-gray-500 text-xs uppercase">Luxe Global 2024</p>
      <li><a href="#" class="text-gray-500 text-xs uppercase">Terms and conditions</a></li>
      <li><a href="#" class="text-gray-500 text-xs uppercase">Privacy policy</a></li>
      <li><a href="#" class="text-gray-500 text-xs uppercase">Powered by Atyantik</a></li>
    </ul>
  </div>
</footer>

