<!-- FoundGem -->



  <div class="background-container relative w-full h-screen overflow-hidden bg-cover bg-center"
       style="background-image: url('https://www.luxeglobalawards.com/images/98af9ae2aed12a152bc9-HKTNB_Swimming_Pool.jpg');">
    <div class="overlay absolute top-0 left-0 w-65 h-full bg-custom-gradient flex justify-center items-center text-white pr-20 md:pr-4 sm:pr-2">
      <div class="content w-1/2 text-center">
        <p class="text-4xl mb-4 uppercase md:text-4xl sm:text-xl">
          Found a gem <span class="block">we should know about?</span>
        </p>
        <button class="bg-transparent border-2 border-white text-white py-3 px-6 text-sm rounded-full uppercase transition-colors duration-300 hover:bg-white hover:text-black md:py-2 md:px-4 md:text-xs sm:py-1 sm:px-2">
          Let us Know
        </button>
      </div>
    </div>
  </div>


  <style>
    @media (max-width: 900px) {




    .overlay {
      width: 100%; 
      background: rgba(0, 0, 0, 0.5); 
      padding-right: 1rem; 
    }

    .content {
      padding: 0; 
    }

    .content p {
      font-size: 1.8rem; 
      margin-bottom: 1.5rem; 
    }

    .content button {
      padding: 12px 20px; 
      font-size: 0.7rem; 
    }
  }

  @media (max-width: 480px) {
    .overlay {
      padding-right: 0.5rem; 
    }

    .content p {
      font-size: 1.5rem; 
      margin-bottom: 1rem; 
    }

    .content button {
      padding: 10px 15px; 
      font-size: 0.6rem; 
    }
  }

  </style>






  



