---
import AnimateComponent from "../animation/AnimateComponent.astro";


---


<div class="relative w-full aspect-[2/1]">
  <img
    src="https://www.luxeglobalawards.com/cdn-cgi/image/width=1440,fit=contain,quality=85,format=auto/images/fb6eda6a7f5ae9125aee-portfolioBG.jpg"
    alt="Background Image"
    class="w-full h-full object-cover"
  />
  <AnimateComponent>
  <div
    class="absolute bottom-4 left-4 flex lg:flex-row lg:bottom-16 lg:left-24 sm:flex-col sm:gap-2 lg:gap-4"
  >
    <a
      href="#"
      class="text-sm no-underline hover:text-black hover:cursor-pointer hover:bg-white text-white bg-transperant border border-white rounded-full py-2 px-4 uppercase transition-opacity duration-300 hover:opacity-100"
    >
      Download Pdf
    </a>

    <a
      href="#"
      class="text-sm text-white no-underline hover:text-[#625232] hover:cursor-pointer bg-[#625232] border border-[#625232] rounded-full py-2 px-4 uppercase transition-opacity duration-300 hover:opacity-100 hover:bg-white"
    >
      View Online
    </a>
  </div>
</AnimateComponent>
</div>
