---

const {id} = Astro.props
---
<div
id={id}
  class="fixed top-0 right-0 h-full bg-white border-l border-gray-300 shadow-lg w-0 transition-transform transform translate-x-full z-50 flex flex-col justify-center items-center p-10 space-y-6"
>
  <button id="close-registration-form" class="absolute top-4 right-4 text-2xl">×</button>
 <div class="container pl-8 bg-[#ffffff] rounded-[8px] flex flex-col justify-center items-center w-full">
        <div class="title text-[3rem] w-3/5 text-center mb-4">Enter the Awards</div>
        <p class="description text-[14px] mb-12">Select the property type you want to enter the awards for:</p>
        <div class="checkbox-group w-full flex justify-center flex-wrap mb-16">
            <input type="checkbox" id="property1" name="property" value="Property1" class="custom-checkbox">
            <label for="property1" class="mx-[10px] my-[0] flex items-center text-[gray] text-[14px]">Hotel</label>
            <input type="checkbox" id="property2" name="property" value="Property2" class="custom-checkbox">
            <label for="property2" class="mx-[10px] my-[0] flex items-center text-[gray] text-[14px]">SPA</label>
            <input type="checkbox" id="property3" name="property" value="Property3" class="custom-checkbox">
            <label for="property3" class="mx-[10px] my-[0] flex items-center text-[gray] text-[14px]">Restaurant</label>
            <input type="checkbox" id="property4" name="property" value="Property4" class="custom-checkbox">
            <label for="property4" class="mx-[10px] my-[0] flex items-center text-[gray] text-[14px]">Agency</label>
        </div>
        <button class="continue-button bg-[black] w-[70%] text-[white] border-[none] px-[20px] py-[10px] text-[16px] cursor-pointer rounded-[25px] [transition:background-color_0.3s_ease] hover:bg-[white] hover:text-[black] hover:border-[1px] hover:border-[solid] hover:border-[black]">Continue</button>
    </div>
</div>



<style>


.custom-checkbox {
    position: absolute;
    opacity: 0; /* Hide the native checkbox */
}

.custom-checkbox + label {
    position: relative;
    padding-left: 30px; /* Space for custom radio button */
    cursor: pointer;
}

.custom-checkbox + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 15px; /* Size of the custom radio button */
    height: 15px; /* Size of the custom radio button */
    border-radius: 50%; /* Circle shape */
    border: 2px solid gray; /* Border color */
    background-color: #fff; /* Background color */
}

.custom-checkbox:checked + label::before {
    background-color: black; /* Checked background color */
    border-color: black; /* Border color when checked */
}

.custom-checkbox:checked + label::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 5px; /* Size of the inner dot */
    height: 5px; /* Size of the inner dot */
    border-radius: 50%; /* Circle shape */
    background-color: white; /* Inner dot color */
}



        
</style>