---
import AnimateComponent from "../animation/AnimateComponent.astro"

const { url } = Astro.props
---
<AnimateComponent>
<div class="relative w-full aspect-[2/1] overflow-hidden flex items-center justify-center">
  <video autoplay muted playsinline loop class="absolute top-0 left-0 w-full h-full object-cover">
    <source src={url} type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>
</AnimateComponent>