---
import Button from "./Button.astro"

const { url, btn } = Astro.props
---

<div class="relative w-full h-screen overflow-hidden flex items-center justify-center lg:mt-11">
  <video autoplay muted playsinline loop class="absolute top-0 left-0 w-full h-full object-cover">
    <source src={url} type="video/mp4">
    Your browser does not support the video tag.
  </video>
  {btn && (
    <div class="relative z-10 flex sm:flex-row gap-2.5 items-center flex-col ">

      <a href="#" class=" text-sm no-underline hover:text-white hover:cursor-pointer text-[#978544] bg-white rounded-full py-2 px-4 uppercase transition-opacity duration-300 hover:opacity-100 hover:bg-[#978544] [@media(max-width: 768px)]:text-sm [@media(max-width: 768px)]:px-3 [@media(max-width: 768px)]:py-2 [@media(max-width: 480px)]:text-xs [@media(max-width: 480px)]:px-3 [@media(max-width: 480px)]:py-1">Enter Luxe Global Awards</a>

        <a href="#" class=" text-sm no-underline hover:text-white hover:cursor-pointer text-[#978544] bg-white  rounded-full py-2 px-4 uppercase transition-opacity duration-300 hover:opacity-100 hover:bg-[#978544] [@media(max-width: 768px)]:text-sm [@media(max-width: 768px)]:px-3 [@media(max-width: 768px)]:py-2 [@media(max-width: 480px)]:text-xs [@media(max-width: 480px)]:px-3 [@media(max-width: 480px)]:py-1">Explore Travel Destinations</a>
  
  
</div>

  

  )}
</div>

<style>
  @media (max-width: 768px) {
    .button-container button {
      @apply text-sm px-3 py-2;
    }
  }

  @media (max-width: 480px) {
    .button-container {
      @apply flex-col gap-1;
    }
    .button-container button {
      @apply text-xs px-3 py-1;
    }
  }
</style>
