---
const twoCards = [
  {
    name: "Who we are",
    desc: "We are a dedicated team of tech writers, industry experts, and passionate creators committed to delivering valuable insights and practical knowledge. Our diverse backgrounds in software development, IT, and tech journalism enable us to offer a wide range of content that caters to all levels of expertise.",
  },
  {
    name: "Our Vision",
    desc: "We believe in the power of knowledge and its role in advancing technology and innovation. Our goal is to create a space where tech enthusiasts can find reliable, insightful, and engaging content that not only enhances their skills but also inspires their curiosity.",
  },
];
---

<section class="text-gray-900 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <h2 class="sm:text-3xl text-2xl font-medium title-font mb-2 md:w-2/5">
      Explore our mission, team, and vision delivering top-notch tech insights.
    </h2>
    <div class="md:w-3/5 md:pl-6">
      <p class="text-xl">
        Welcome to In-Depth Tech Guides & Stories, your premier destination for
        exploring the world of technology. Our mission is to provide tech
        enthusiasts, professionals, and curious learners with high-quality
        content that empowers and informs.
      </p>
      <div class="flex md:mt-4 mt-6"></div>
    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-col">
    <div class="lg:w-4/6 mx-auto">
      <div class="rounded-lg h-64 overflow-hidden">
        <img
          alt="content"
          class="object-cover object-center h-full w-full"
          src="images/image7.png"
        />
      </div>
      <div class="flex flex-col sm:flex-row mt-10">
        <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
          <div
            class="w-20 h-20 rounded-full inline-flex items-center justify-center bg-gray-200 text-gray-400"
          >
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-10 h-10"
              viewBox="0 0 24 24"
            >
              <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
              <circle cx="12" cy="7" r="4"></circle>
            </svg>
          </div>
          <div class="flex flex-col items-center text-center justify-center">
            <h2 class="font-medium title-font mt-4 text-gray-900 text-lg">
              John Doe
            </h2>
            <div class="w-12 h-1 bg-indigo-500 rounded mt-2 mb-4"></div>
            <p class="text-base">
              Explore our content, join our community, and stay connected with
              the latest trends and developments in the tech world.
            </p>
          </div>
        </div>
        <div
          class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-200 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left"
        >
          <p class="leading-relaxed text-lg mb-4">
            We are a dedicated team of tech writers, industry experts, and
            passionate creators committed to delivering valuable insights and
            practical knowledge. Our diverse backgrounds in software
            development, IT, and tech journalism enable us to offer a wide range
            of content that caters to all levels of expertise.
          </p>
          <a class="text-indigo-900 inline-flex items-center"
            >Learn More about our team
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-4 h-4 ml-2"
              viewBox="0 0 24 24"
            >
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
  <div class="container px-5 mx-auto flex flex-wrap">
    <div class="flex flex-wrap -m-4">
      {
        twoCards.map((card) => (
          <div class="p-4 lg:w-1/2 md:w-full">
            <div class="flex border-2 rounded-lg border-gray-200 border-opacity-50 p-8 sm:flex-row flex-col">
              <div class="flex-grow">
                <h2 class="text-gray-900 text-2xl title-font font-medium mb-3">
                  {card.name}
                </h2>
                <p class="leading-relaxed text-base">{card.desc}</p>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
  <h1 class="text-center mt-10 text-3xl font-bold">Connect with Us</h1>
  <div class="flex justify-center py-10">
    
    <div
      class="lg:w-2/6 md:w-1/2 bg-gray-300 rounded-lg p-8 flex flex-col  w-full mt-10 md:mt-0"
    >
      <div class="relative mb-4">
        <label for="full-name" class="leading-7 text-sm text-gray-600"
          >Full Name</label
        >
        <input
          type="text"
          id="full-name"
          name="full-name"
          class="w-full bg-white rounded border border-gray-300 focus:border-yellow-500 focus:ring-2 focus:ring-yellow-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        />
      </div>
      <div class="relative mb-4">
        <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          class="w-full bg-white rounded border border-gray-300 focus:border-yellow-500 focus:ring-2 focus:ring-yellow-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        />
      </div>
      <button
        class="text-white bg-gray-900 border-0 py-2 px-8 focus:outline-none hover:bg-gray-600 rounded text-lg"
        >Connect</button
      >
    </div>
  </div>
</section>


