<!-- <footer class="text-white bg-gray-900 body-font mt-5">
  <div
    class="container px-5 py-3 mx-auto flex items-center sm:flex-row flex-col"
  >
    <a
      class="flex title-font font-medium items-center md:justify-start justify-center text-white-900"
    >
      <span class="ml-3 text-xl">TechPeople</span>
    </a>
    <p
      class="text-sm text-white-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4"
    >
      © 2020 Tech —
      <a
        href="https://twitter.com/knyttneve"
        class="text-white-600 ml-1"
        rel="noopener noreferrer"
        target="_blank">@JohnDoe</a
      >
    </p>
    <span
      class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start"
    >
      <a class="text-white-500">
        <svg
          fill="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="w-5 h-5"
          viewBox="0 0 24 24"
        >
          <path
            d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"
          ></path>
        </svg>
      </a>
      <a class="ml-3 text-white-500">
        <svg
          fill="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="w-5 h-5"
          viewBox="0 0 24 24"
        >
          <path
            d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"
          ></path>
        </svg>
      </a>
      <a class="ml-3 text-white-500">
        <svg
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="w-5 h-5"
          viewBox="0 0 24 24"
        >
          <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
          <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"
          ></path>
        </svg>
      </a>
      <a class="ml-3 text-white-500">
        <svg
          fill="currentColor"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="0"
          class="w-5 h-5"
          viewBox="0 0 24 24"
        >
          <path
            stroke="none"
            d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"
          ></path>
          <circle cx="4" cy="4" r="2" stroke="none"></circle>
        </svg>
      </a>
    </span>
  </div>
</footer> -->



<footer class="footer py-8">
  <div class="footer-container container mx-auto flex justify-between px-4 [@media(max-width:768px)]:flex-col [@media(max-width:768px)]:items-center">
    <!-- Logo and Social Links Column -->
    <div class="footer-column logo-column flex-1 flex flex-col px-5 ">
      <img src="https://www.luxeglobalawards.com/images/371a297a15fb1e72fb59-logo.svg" alt="Logo" class="max-w-[150px] mb-4" width="71" height="66">
      <!-- <div class="flex gap-2">
        <a href="#" class="text-lg hover:underline">Facebook</a>
        <a href="#" class="text-lg hover:underline">Twitter</a>
        <a href="#" class="text-lg hover:underline">Instagram</a>
        <a href="#" class="text-lg hover:underline">LinkedIn</a>
      </div> -->
    </div>

    <!-- Links Columns Container -->
    <div class="footer-links-container flex flex-wrap gap-4 w-3/4 [@media(max-width:768px)]:flex-col [@media(max-width:768px)]:items-center">
      <!-- Column for Four Links -->
      <div class="footer-column flex-1 min-w-[150px] [@media(max-width:768px)]:mx-[0] [@media(max-width:768px)]:my-[0rem] [@media(max-width:768px)]:text-center">
        <ul class="space-y-1">
          <li><a href="#" class="text-gray-800 text-xs uppercase">Industry Insights</a></li>
          <li><a href="#" class="text-gray-800 text-xs uppercase">Browse</a></li>
          <li><a href="#" class="text-gray-800 text-xs uppercase">Press</a></li>
          <li><a href="#" class="text-gray-800 text-xs uppercase">Shop</a></li>
        </ul>
      </div>

      <!-- Column for Three Links -->
      <div class="footer-column flex-1 min-w-[150px] [@media(max-width:768px)]:mx-[0] [@media(max-width:768px)]:my-[0rem] [@media(max-width:768px)]:text-center">
        <ul class="space-y-1">
          <li><a href="#" class="text-gray-800 text-xs uppercase">About the awards</a></li>
          <li><a href="#" class="text-gray-800 text-xs uppercase">Contact</a></li>
          <li><a href="#" class="text-gray-800 text-xs uppercase">Partners</a></li>
        </ul>
      </div>

      <!-- Column for Two Links -->
      <div class="footer-column flex-1 min-w-[150px] [@media(max-width:768px)]:mx-[0] [@media(max-width:768px)]:my-[0rem] [@media(max-width:768px)]:text-center">
        <ul class="space-y-1">
          <li class="text-gray-800 text-xs uppercase">Capetown <br> South Africa</li>
          <li><a href="mailto:info@luxeglobalawards.com" class="text-gray-800 text-xs uppercase">info@luxeglobalawards.com</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="copy-right mt-24 [@media(max-width:768px)]:mt-5">
    <ul class="flex justify-end items-center gap-8 pr-24 [@media(max-width:768px)]:flex-col [@media(max-width:768px)]:gap-0 [@media(max-width:768px)]:pr-0 ">
      <p class="text-gray-500 text-xs uppercase">Luxe Global 2024</p>
      <li><a href="#" class="text-gray-500 text-xs uppercase">Terms and conditions</a></li>
      <li><a href="#" class="text-gray-500 text-xs uppercase">Privacy policy</a></li>
      <li><a href="#" class="text-gray-500 text-xs uppercase">Powered by Atyantik</a></li>
    </ul>
  </div>
</footer>

