---

---

<section class="text-gray-600 body-font">
    <div class="container px-5 py-16 mx-auto">
      <div class="flex flex-wrap w-full mb-20">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">In-Depth Tech Guides & Stories</h1>
          <div class="h-1 w-20 bg-indigo-500 rounded"></div>
        </div>
        <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">Immerse yourself in detailed tech guides and captivating stories that delve into the heart of technology. Our extensive guides offer step-by-step instructions and expert insights, while our stories provide a glimpse into the experiences and innovations driving the tech industry.</p>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src='images/image2.png'alt="content">
           
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Advanced Coding Techniques</h2>
            <p class="leading-relaxed text-base">Master sophisticated coding methods and improve your programming prowess with our expert guides.            </p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src='images/image3.png'alt="content">
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4"> Tech Industry Innovators</h2>
            <p class="leading-relaxed text-base">Discover the stories of leading innovators who are driving technological advancements and shaping the future.</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src='images/image4.png'alt="content">
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Step-by-Step Tutorials</h2>
            <p class="leading-relaxed text-base">Engage with detailed, hands-on tutorials designed to help you learn and apply new technologies effectively.</p>
          </div>
        </div>
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-100 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src='images/image5.png'alt="content">
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Behind-the-Scenes Stories</h2>
            <p class="leading-relaxed text-base">Gain insights into the real-world experiences and behind-the-scenes efforts of those working on cutting-edge tech projects.</p>
          </div>
        </div>
      </div>
    </div>
  </section>