---
const { title } = Astro.props;
---

<div class="grid grid-cols-1 gap-5">
  <div
    class="bg-gradient-to-t from-gray-600 to-gray-900 h-96 flex justify-center items-center"
  >
    <div
      class="text-5xl font-bold leading-tight xl:text-6xl h-42 w-3/5 text-center text-white"
    >
      {title}
    </div>
  </div>
</div>
