<nav class="bg-white py-3 px-5 lg:px-36 uppercase">
  <div class="flex-grow">
    <a href="/" class="flex items-center">
      <img
        src="https://www.luxeglobalawards.com/images/371a297a15fb1e72fb59-logo.svg"
        alt="Luxe Global"
        width="71"
        height="64"
      />
    </a>
  </div>
</nav>

<section>
  <div
    class="full-screen-component h-auto lg:px-36 px-5 w-full bg-[black] text-[white]"
  >
    <div class="text text-3xl py-10">PROPERTY & PAYMENT DETAILS</div>
  </div>
</section>

