<section class="lg:px-36 px-2">
  <div class="headings text-lg mb-5 uppercase text-[rgb(0,0,0)]">
    <p class="heading1">Your</p>
    <p class="heading2 font-['Times_New_Roman',_Times,_serif]">Product</p>
  </div>

  <div class="product-table">
    <table class="w-full">
      <thead>
        <tr class="text-sm text-black">
          <th class="text-left py-5">Product</th>
          <th class="text-right py-5">Total per annum</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-sm">
          <td class="sub-title py-5">2025 LUXE Global Hotel Registration Fee</td>
          <td class="sub-title text-right py-5">€999</td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr class="my-5">
</section>
