<!-- Overall Winners -->
<div
  class="flex items-center justify-center w-full  bg-black text-white h-[50vh]"
>
  <div class="flex flex-col items-center w-[80%] text-center">
    <p></p>
    <div
      class="text-overall text-6xl sm:text-7xl lg:text-8xl font-normal font-sans tracking-wide uppercase"
    >
      Overall
    </div>
    <div
      class="text-winners text-6xl sm:text-7xl lg:text-8xl font-thin uppercase"
    >
      Winners
    </div>
  </div>
</div>


<!-- Winner Hotel -->



<div class="contain w-full">
    <div class="component">
        <div class="description-column ">
            <div class="desc text-center flex flex-col">
                <div class="heading flex justify-center items-center gap-[0.8rem] mb-4">
                    <div class="logo1 h-6 w-4 bg-[url('https://www.luxeglobalawards.com/images/a30d6d664bbd8d70e325-awards-left-ico.svg')] bg-cover"></div><p
                      class="text-center m-0 px-[0] py-[10px] relative uppercase text-[12px] text-[white]"
                    >
                      Hotel of the year
                    </p><div class="logo2 h-6 w-4 bg-[url('https://www.luxeglobalawards.com/images/1292597e04db92596ba7-awards-right-ico.svg')] bg-cover"></div>
                  </div>
                  <span class="place text-[13px] uppercase text-[rgba(168,_165,_165,_0.945)] m-[0.8rem]">Maldives</span>
                  <span class="place-name text-4xl uppercase text-[#ffffffe0]">Fushifaru <br>Maldives</span>
                <p>On the far Northeast border of Lhaviyani Atoll, sits the new exquisite little island of Fushifaru Maldives, only a 35-minute breath-taking seaplane flight away from Velana International Airport. Nestled between a national Marine Protected Area and three of the Maldives’ most iconic dive sites, Fushifaru Maldives is a boutique and intimate resort with an endless promise of adventure, excitement, discovery, and serenity all in one diverse landscape. Dining experiences feature regional and international flavours to suit every taste and dietary requirement. Scrumptious breakfast buffets and palate pleasing international cuisine are offered at Korakali, while surf and turf can be savoured at Raakani on the beach and interactive dining experience can be enjoyed at Teppanyaki.Signature cocktails and detox tails are complemented by the best sunset views on the island whilst lounging by the pool at Fanihandhi Bar.

                </p>
                <a href="#">See the profile</a>
            </div>
        </div>
        <img src="https://www.luxeglobalawards.com/images/d2682df686f79da51e29-Hotel_of_the_Year_Image.jpg" alt="">
       
    </div>




    <!-- Spa -->



    <div class="component reverse">
        <div class="description-column">
            <div class="desc text-center flex flex-col">
                <div class="heading flex justify-center items-center gap-[0.8rem] mb-2">
                    <div class="logo1 h-6 w-4 bg-[url('https://www.luxeglobalawards.com/images/a30d6d664bbd8d70e325-awards-left-ico.svg')] bg-cover"></div><p
                      class="text-center m-0 px-[0] py-[10px] relative uppercase text-[12px] text-[white]"
                    >
                      spa of the year
                    </p><div class="logo2 h-6 w-4 bg-[url('https://www.luxeglobalawards.com/images/1292597e04db92596ba7-awards-right-ico.svg')] bg-cover"></div>
                  </div>
                 <span class="place text-[13px] uppercase text-[rgba(168,_165,_165,_0.945)] m-[0.8rem]">Russia</span>
                 <span class="place-name text-4xl uppercase text-[#ffffffe0]">Rixos Royal Spa</span>
                <p>Rixos Royal Spa offers a perfect world of harmony and beauty at an altitude of 960 meters above sea level. A relaxing atmosphere with a spectacular view of the mountain peaks and the unique landscape of pristine forests.On the ground floor there is an indoor pool 25 m long and 150 cm deep with two hydromassage bowls and a gorgeous view of the mountains, a Finnish sauna, a Russian sauna, a steam room, a vitamin bar with healthy drinks and a beauty salon. On the second floor there is the pearl of the spa - the Turkish hammam, relaxation areas, massage rooms and a suite for spa rituals for two persons, a professional gym with Technogym equipment, a fitness room for group exercises and a separate VIP suite with saunas, jacuzzi and ice hot tub for corporate and individual weekends. Pamper yourself and enjoy the day at the spa - there's plenty to keep you busy!

                </p>
                <a href="#">See the profile</a>
            </div>
        </div>
        <img src="https://www.luxeglobalawards.com/images/816d05f3aa248e59f8e6-Spa_of_the_Year_.jpg" alt="">
        
    </div>



    <!-- Restaurant -->





    <div class="component">
        <div class="description-column">
            <div class="desc text-center flex flex-col">
                <div class="heading flex justify-center items-center gap-[0.8rem] mb-4">
                    <div class="logo1 h-6 w-4 bg-[url('https://www.luxeglobalawards.com/images/a30d6d664bbd8d70e325-awards-left-ico.svg')] bg-cover"></div><p
                      class="text-center m-0 px-[0] py-[10px] relative uppercase text-[12px] text-[white]"
                    >
                      Restaurant of the year
                    </p><div class="logo2 h-6 w-4 bg-[url('https://www.luxeglobalawards.com/images/1292597e04db92596ba7-awards-right-ico.svg')] bg-cover"></div>
                  </div>
                  <span class="place text-[13px] uppercase text-[rgba(168,_165,_165,_0.945)] m-[0.8rem]">India</span>
                  <span class="place-name text-4xl uppercase text-[#ffffffe0]">VILLA MAYA (A FABLED KITCHEN)</span>
                <p>Villa Maya, a lovingly restored 18th century Dutch manor that once enjoyed the attention of the royal house of Travancore. In the spirit of its noble heritage it continues to exude timeless elegance through contemporary design and haute cuisine. The menu is a gastromonical journey through Kerala, India, Morocco and Italy. Each dish has been carefully handpicked for its cultural heritage, authenticity and resonance with the tastes of Kerala and is presented in a multisensory delight of exciting flavours, textures and aromas.Villa Maya is a treasure trove of subtle sensory delights; a theatre of the senses meticulously crafted to offer you an escape into serenity. Authentic traditional cuisines from around the world are exquisitely plated to harmonise with its classical architecture, minimal style and carefully selected art and craft pieces, creating an experience of beauty and grace.</p>
                <a href="#">See the profile</a>
            </div>
        </div>
        <img src="https://www.luxeglobalawards.com/images/80c398252741184f26ed-Restaurant_of_the_Year.jpg" alt="">
        
       
    </div>
</div>




<style>
    .contain {
    display: flex;
    flex-direction: column;
    gap: 9rem;
    padding: 3rem;
    color: white;
    background-color: black;
    width: 100%;
}
 
.component {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center ;
    gap: 20px;
}
 
img {
    flex: 1;
    height: 30%;
    width: 30%;
    background-size: cover;
    background-position: center;
}
 
.description-column {
    flex: 1;
    width: 60%;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.desc{
    width: 80%;
}
 
.description-column h2,
.description-column h3,
.description-column h4 {
    margin: 0 0 10px;
}
 
.description-column p {
    font-size: 13px;
    color: gray;
    margin: 1rem 0 10px;
}
 
.description-column a {
    font-size: 14px;
    color: #636464;
    text-decoration: none;
    text-transform: uppercase;
    margin: 1rem 0;
}
 
.description-column a:hover {
    text-decoration: underline;
}
 
/* Reversing the column order */
.reverse {
    flex-direction: row-reverse;
}
 
/* Responsive Design */
@media (max-width: 768px) {
    .component {
        flex-direction: column;
    }
    .description-column{
        width: 100%;
    }
    .desc{
        width: 100%;
    }
    .reverse {
        flex-direction: column;
    }
 
    img{
        width: 100%;
        height: 100%;
    }
   
}
 
</style>





